@using BlackJackServer.Models;
@{
    Layout = "/Views/_layout.cshtml";
}
@model BlackJackMoveResult
<div>
    <img width="100" src="~/img/99-997123_blackjack-casino-logo.png" /> <br /> <br />
        <table>
            <tbody>
                <tr>
                    <td align="left">House Wins: @Model.ComputerWins </td>
                    <td>Player Points: @Model.PlayerPoints</td>
                </tr>
                <tr>
                    <td>Player Wins: @Model.PlayerWins</td>
                    <td>Player Bet: @Model.PlayerCardBet </td>
                </tr>
            </tbody>
        </table>
</div>

<div>
    @if (Model.PlayerCards.Count > 0)
    {
            <br>
            <table>
                <thead>
                    <th COLSPAN="2" > House Cards Total: @Model.ComputerCardTotal </th>
                </thead>
                <tbody>
                    <tr>
                        @foreach (Card c in Model.ComputerCards) 
                        {
                            <td><img width="80" src="~/img/cards/@(c.Name.Replace(" ", "_").ToLower()).png" /></td>
                        }
                    </tr>
                </tbody>
            </table>
            <br/>

            <table>
                 <thead>
                    <th COLSPAN="2" > Player Cards, Total: @Model.PlayerCardTotal</th>
                </thead>
                <tbody>
                    <tr>
                        @foreach (Card c in Model.PlayerCards)
                        {
                            <td><img width="80" src="~/img/cards/@(c.Name.Replace(" ", "_").ToLower()).png" /></td>
                        }
                    </tr>
                </tbody>
            </table>
     }
</div>

<div>
        <ul style="list-style-type:circle;">
            @foreach (string s in Model.Message)
            {
                <li>@s</li>
            }
        </ul>
</div>

<div>
    <p style="font-size:small">Possible Commands are @Model.ComamndList</p>
    <form name="commandprocessor" action="/game/play/@Model.GameId" method="Post">
        <p style="font-size:small">Enter Command: <input name="command" type="text" autofocus autocomplete="on" /></p>
    </form>
</div>